.kep{
    height: 70px;
    width: 70px;
}

.kep2{  
  height: 800px;
  
}

.hatter{
    background-color: black;
}

nav ul li {
    font-weight: normal;
  }
  
.active{
    font-weight: normal;
  }
.active:hover{
    font-weight: bold;
  }

.kartyak{
  margin-right: 5px;
  text-align: left;
  border-radius: 20px;
  background-color: black;
}
.csik{
  border: none;
  color: white;
  opacity: 1;
  height: 1px;
  background-color: white;
}

.card1{
  width: 70%; 
  margin: auto; 
  margin-top: 3%; 
  background-color: gray; 
  padding-left: 5%; 
  padding-right: 5%;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card2{
  width: 40%; 
  margin: auto; 
  margin-top: 2%; 
  margin-bottom: 2%; 
  background-color: gray; 
  padding-left: 1%; 
  padding-right: 1%;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.background{
  background-color: black;
}

.link{
  color: white;
  text-decoration: none;
}

.logo{
  width:400px
}

.gosztaly{
  color: white;
  text-decoration: none;
}

.tech1{
margin-left: 5%;
margin-right: 5%;
margin-bottom: 5%;
}

.tech2kep{
  margin-left: 10%;
  margin-right: 20%;
  float: left;
  padding-right: 20%;
}

.pixel{
  width: 42px;
}

.centertext {
  position: relative;
  text-align: center;
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttononmain{
  font-weight: bold;
  color:black;
  background-color: gray;
  border-radius: 17px;
  padding: 4px;
  transition: background-color 1s, color 1s ;
}

.buttononmain:hover{
  background-color: rgb(23, 82, 74);
  color: white;
}

.movie{
  aspect-ratio: 16 / 9;
  width: 100%;
}

.line{
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.lineleft{
  border-left: solid 2px black;
}

.lineright{
  border-right: solid 2px black;
}

.lineleftwhite{
  border-left: solid 2px white;
}

a{
  
}