.kep{
    height: 70px;
    width: 70px;
}

.hatter{
    background-color: black;
}

nav ul li {
    font-weight: normal;
  }
  
.active{
    font-weight: normal;
  }
.active:hover{
    font-weight: bold;
  }

.kartyak{
  margin: 5px;
  text-align: justify;
}
.csik{
  border: none;
  color: white;
  opacity: 1;
  height: 1px;
  background-color: white;
}

.card1{
  width: 60%; 
  margin: auto; 
  margin-top: 5%; 
  margin-bottom: 5%; 
  background-color: gray; 
  padding-left: 5%; 
  padding-right: 5%;
  border-radius: 30px;
}