.kep{
    height: 70px;
    width: 70px;
}

.hatter{
    background-color: black;
}

nav ul li {
    font-weight: normal;
  }
  
.active{
    font-weight: normal;
  }
.active:hover{
    font-weight: bold;
  }